@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;500&display=swap');

/* GLOBAL STYLES */

:root {
  --light: #f5f5f5;
  --dark: #313154;
  --grey: #e8e8e8;
  --yellow: rgba(234, 201, 101);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--grey);
}

.content {
  background-color: var(--light);
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}

.form {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

i {
  background: none;
  font-size: 1.5rem;
  color: grey;
}

input[type="text"] {
  width: 100%;
  height: 2rem;
  
}

::placeholder {
  color: grey;
  font-size: 1.275rem;
  font-style: italic;
}

.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.content-list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  flex-wrap: nowrap;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

input[type="checkbox"] {
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

.todo-title {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.done {
  text-decoration: line-through;
}

.task-done {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  font-size: 1.22rem;
  color: grey;
}
